@media(max-width: 1440px) {
	.twitter-one::before,
	.inner-banner::before,	
	.about-me-header::before,
	.slider-one::before {
		-webkit-transform: scaleX(1.01);
		-ms-transform: scaleX(1.01);
		-o-transform: scaleX(1.01);
		transform: scaleX(1.01);
		transform-origin: center;
	}

	.donation-one .content-box{
		margin-right: 0px;
	}
}

/*
* expandable menu started
*/
@media (max-width: 1199px) {


	.navbar-expand-lg .menu-toggler {
		display: block;
		margin-right: 0;
		border-color: #fff;
		background-color: transparent !important;
		margin: 23px 0;
		color: #fff;
		border: none;
		font-size: 23px;
		float: right;
		outline: none;
		cursor: pointer;
		top: 3px;
		position: relative;
		padding: 0;
	}

	.donation-one .bg-layer{
		display: none;
	}

	.donation-one .content-box{
		margin-left: 0px;
	}

	.menu-toggler:hover {
		border-color: #cd2828;
	}

	.menu-toggler .icon-bar {
		background: #fff;
	}

	.menu-toggler:hover .icon-bar {
		background: #cd2828;
	}

	.header-navigation .right-box.nav {
		width: 100%;
		margin: 0;
	}

	.header-navigation .container .right-side-box {
		top: 15px;
		right: 15px;
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
	}

	.header-navigation .container {
		display: block;
		padding-right: 0px;
		padding-left: 0px;
		position: relative;
	}

	.header-navigation .container .logo-box {
		position: relative;
		top: 0;
		left: 0;
		-webkit-transform: translateY(0);
		transform: translateY(0);
		float: none;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: -webkit-box;
		display: flex;
		-webkit-box-align: center;
		align-items: center;
		padding-right: 145px;
	}

	.header-navigation .container .logo-box .navbar-brand {
		float: left;
		padding: 0px 15px;
	}

	.header-navigation .container .logo-box .navbar-toggler {
		float: left;
	}

	.header-navigation .container .menu-toggler {
		float: left;
		margin: 31px 0;
		position: relative;
		top: -1px;
	}

	.header-navigation {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	.header-navigation .container .logo-box {
		padding-left: 0;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.header-navigation .container .menu-toggler {
		margin-left: 25px;
	}

	.header-navigation .container .menu-toggler {
		display: block;
	}

	.header-navigation .main-navigation {
		display: none;
	}

	.site-footer__style-two.mailchimp-one .inner-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
		-webkit-box-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		        align-items: center;
	}

	.site-footer__style-two.mailchimp-one .mailchimp-one__form {
		-webkit-box-pack: start;
		        justify-content: flex-start;
		margin-top: 30px;
	}

	.header-navigation .container .logo-box {
		padding-right: 0;
	}

	.site-header__header-one {
		padding-top: 0;
	}

	.inner-banner {
		margin-top: 0;
		padding-top: 180px;
		padding-bottom: 100px;
	}

	.topbar-one__right {
		margin-top: 10px;
	}

	.stricked-menu {
		display: none !important;
	}

	.service-one__content,
	.blog-grid .blog-one__content,
	.blog-one__single {
		padding-left: 30px;
		padding-right: 30px;
	}

	.team-one__single {
		padding-left: 15px;
		padding-right: 15px;
	}

	.team-one__content h3 {
		font-size: 20px;
	}

	.cta-one .inner-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
		-webkit-box-pack: start;
		        justify-content: flex-start;
		-webkit-box-align: start;
		        align-items: flex-start;
	}

	.cta-one__btn-block {
		margin-top: 35px;
	}
	.slider-two h3 br {
		display: none;
	}
	.countdown-one .inner-container {
		background-repeat: no-repeat;
		background-size: cover;
	}
	.countdown-one__list {
		-webkit-box-pack: center;
		        justify-content: center;
		padding-right: 0;
		padding-top: 30px;
	}
	.donation-one__amounts {
		margin-left: 0;
		margin-top: 30px;
	}
	.about-two .nav-tabs .nav-item {
		margin-bottom: 15px;
	}
	.about-two .tab-content img {
		width: 100%;
	}
	.about-two__content {
		padding-left: 30px;
	}
	.contact-info-one .block-title__text br,
	.about-me-header__content p br {
		display: none;
	}
}

@media (max-width: 991px) {
	.header-navigation .container .right-side-box {
		display: none;
	}

	.service-three__column{
		width: 33.333%;
		flex: 1 1 33.333%; 
    	max-width: 33.333%;
	}

	.header-navigation .container .logo-box {
		padding-right: 0;
	}

	.history-one__image:before,
	.history-one__image:after{
		display: none;
	}

	.header-navigation .container .menu-toggler {
		margin-left: 0;
		float: right;
	}

	.header-navigation .container .logo-box {
		padding-right: 15px;
		-webkit-box-pack: justify;
		justify-content: space-between;
	}

	.site-footer__upper .container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
		-webkit-box-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		        justify-content: center;
	}

	.site-footer .no-gutters {
		margin-left: -15px;
		margin-right: -15px;
	}

	.site-footer .no-gutters [class*=col-] {
		padding-left: 15px;
		padding-right: 15px;
	}

	.inner-banner__title {
		font-size: 55px;
	}

	.sidebar {
		margin-top: 80px;
	}

	.service-two__content-column,
	.service-two__box-column,
	.about-one__video-column,
	.about-one__content-column {
		-webkit-box-flex: 1;
		        flex: 1 1 100%;
		max-width: 100%;
	}

	.service-two__content-column {
		padding-bottom: 80px;
	}

	.about-one__video {
		display: inline-block;
	}

	.service-two {
		padding-top: 100px;
	}

	.about-one__content {
		padding-top: 70px;
	}

	.faq-one__accrodion-wrap {
		max-width: 100%;
		padding-bottom: 60px;
	}

	.cta-one .inner-container {
		-webkit-box-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		        align-items: center;
	}

	.volunteer-form-one__content {
		margin-bottom: 50px;
	}
	.service-two__content {
		padding-right: 0;
	}
	.event-two {
		background-position: left;
	}
	.about-two__content {
		padding-left: 0;
		padding-top: 35px;
	}
	.cta-three__text p br {
		display: none;
	}
	.event-two__content {
		padding-right: 0;
	}
	.about-three__image-gallery {
		margin-right: 0;
		margin-bottom: 45px;
	}
	.about-three__image-gallery img {
		width: 100%;
	}
	.service-four__bg {
		background-position: left center;
	}
	.history-one__content {
		padding-top: 30px;
	}
	.history-one__image img {
		width: 100%;
	}
	.history-one__single:nth-child(2n) .history-one__image {
		margin-left: 0;
	}
	.history-one__single:nth-child(2n+1) .history-one__content {
		padding-left: 0;
	}
	.history-one__main::before,
	.history-one__main::after {
		display: none;
	}
	.history-one__image {
		margin-right: 0;
	}
	.contact-one__form {
		padding-left: 0;
		padding-top: 40px;
	}
	.event-four__content {
		-webkit-box-flex: 1;
		        flex: 1 1 100%;
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
		padding-top: 40px;
	}
	.event-four__image-wrap {
		width: 100%;
	}
}

@media(max-width: 767px) {
	.site-footer__counter {
		flex-wrap: wrap;
	}

	.site-footer__counter-single {
		-webkit-box-flex: 1;
		        flex: 1 1 50%;
		max-width: 50%;
		text-align: center;
	}

	.site-footer__counter-single+.site-footer__counter-single {
		margin-left: 0;
	}

	.topbar-one {
		display: none;
	}

	.slider-two__form input:not([type=submit]):not([type=checkbox]){
		max-width: 100%;
		margin-bottom: 10px;
	}

	.slider-two__content{
		max-width: 100%;
	}

	.slider-two__btn{
		position: relative;
		width: 100%;
	}

	.slider-one {
		margin-top: 0;
	}
	.service-two__box-column [class*="col-"]:nth-child(2n) {
		margin-top: 0;
	}
	.service-two__box-single{
		margin-top: 30px;
	}
	.map-one__map .wrapper-box {
		height: 311px;
	}
	.countdown-one__list {
		flex-wrap: wrap;
		padding-left: 15px;
		padding-right: 15px;
	}
	.countdown-one__list li {
		-webkit-box-flex: 1;
		        flex: 1 1 50%;
		max-width: 50%;
		padding-top: 15px;
		padding-bottom: 15px;
		border-left: 1px solid rgba(221, 221, 221, 0.2);
		border-bottom: 1px solid rgba(221, 221, 221, 0.2);
	}
	.countdown-one__list li+li {
		padding-left: 0;
		margin-left: 0;
		border-left: 1px solid rgba(221, 221, 221, 0.2);
	}
	.countdown-one__list li:nth-child(1),
	.countdown-one__list li:nth-child(3) {
		border-left: 0;
	}
	.countdown-one__list li:nth-child(4),
	.countdown-one__list li:nth-child(3) {
		border-bottom: 0;
	}
	.donation-one__list li,
	.service-three__column {
		-webkit-box-flex: 1;
		        flex: 1 1 33.333%;
		max-width: 33.333%;
	}
	.about-two .block-title h3 br,
	.donation-one__content-text p br {
		display: none;
	}
	.media-one .img-holder {
		width: 100%;
	}
	.media-one .img-holder img {
		width: 100%;
	}
}

@media (max-width: 575px) {
	.blog-details__content__image-row {
		margin-bottom: 20px;
	}

	.blog-details__content__image-row img {
		margin-bottom: 30px;
	}

	.blog-details__content .blog-two__meta {
		flex-wrap: wrap;
	}
	.slider-one__title {
		font-size: 50px;
		line-height: 55px;
	}
	.slider-one__nav {
		display: none;
	}
	.service-three__column {
	    -webkit-box-flex: 1;
	    flex: 1 1 100%;
	    max-width: 100%;
	}
	.faq-one__images img {
		margin-bottom: 30px;
	}
	.blog-two__link-post {
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media(max-width: 480px) {
	.site-footer__counter-single {
		-webkit-box-flex: 1;
		        flex: 1 1 100%;
		max-width: 100%;
	}

	.blog-two__cat {
		bottom: 20px;
		left: 20px;
	}

	.blog-details__content blockquote {
		padding-left: 0;
	}

	.blog-details__content blockquote::before {
		position: relative;
		top: auto;
		left: auto;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
		display: block;
		margin-bottom: 15px;
	}

	.blog-comment-one__single {
		padding-left: 0;
	}

	.blog-comment-one__single img {
		position: relative;
		top: auto;
		left: auto;
		margin-bottom: 35px;
	}

	.blog-comment-one__single-top {
		flex-wrap: wrap;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
		-webkit-box-pack: start;
		        justify-content: flex-start;
		-webkit-box-align: start;
		        align-items: flex-start;
	}

	.blog-comment-one__single-top span {
		margin-left: 0;
	}

	.blog-comment-one__single-top a {
		margin-top: 5px;
		margin-left: 0;
		border-left: 0;
		padding-left: 0;
	}
	.slider-one__title {
		font-size: 40px;
		line-height: 45px;
	}
	.slider-one__btn-block {
		display: -webkit-box;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
		-webkit-box-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		        justify-content: center;
	}
	.slider-one__btn-two {
		margin-left: 0;
		margin-top: 15px;
	}
	.about-one__content {
		padding-left: 0;
	}
	.cta-one__content p br {
		display: none;
	}
	.cta-one__content h3 span {
		font-size: 30px;
	}
	.cta-one__btn-block {
		flex-wrap: wrap;
		-webkit-box-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		        align-items: center;
	}
	.cta-one__btn-two {
		margin-left: 0;margin-top: 15px;
	}
	.mailchimp-one__form {
		flex-wrap: wrap;
	}
	.mailchimp-one__form .thm-btn {
		margin-left: 0;
		margin-top: 20px;
	}
	.event-two__thumb-img-wrap {
		flex-wrap: wrap;
		margin-left: -5px;
		margin-right: -5px;
	}
	.event-two__thumb-img {
		-webkit-box-flex: 1;
		        flex: 1 1 33.333%;
		padding-left: 5px;
		padding-right: 5px;
	}
	.event-two__thumb-img + .event-two__thumb-img {
		margin-left: 0;
	}
	.event-two__thumb-img img {
		width: 100%;
	}
	.slider-two h3 {
		font-size: 50px;
	}
	.donation-one__list li, .service-three__column {
		-webkit-box-flex: 1;
		        flex: 1 1 50%;
		max-width: 50%;
	}
	.media-one .facebook-box h3 br {
		display: none;
	}
	.event-four__meta {
		flex-wrap: wrap;
	}
	.event-four__meta a + a {
		margin-left: 0;
		margin-top: 5px;
	}
	.blog-two__meta {
		flex-wrap: wrap;
	}
	.blog-two__meta a + a {
		margin-left: 15px;
	}
	.blog-two__content{
		padding-left: 25px;
		padding-right: 25px;
	}
	.blog-two__link-post {
		flex-wrap: wrap;
		padding-top: 45px;
		padding-bottom: 45px;
	}
	.blog-two__link-icon {
		margin-bottom: 30px;
	}
	.slider-two__btn {
		margin-top: 20px;
		position: relative;
		left: -15px;
	}
	.slider-two__content br {
		display: none;
	}
	.countdown-one {
		padding-top: 120px;
	}
	.countdown-one .inner-container {
		margin-top: 0;
	}
}

@media (max-width: 425px) {
	.header-navigation .container .right-side-box {
		display: none;
	}

	.header-navigation .container .menu-toggler {
		float: right;
	}
	.blog-two__meta a:nth-child(3),
	.blog-two__meta a:nth-child(4) {
		display: none;
	}
	.event-five__date {
		position: relative;
		top: auto !important;
		left: auto;
		margin-bottom: 40px;
	}
	.event-five__single {
		padding-left: 0;
	}
	.event-two__btn {
		margin-left: 0;
	}
	.event-five__meta li + li {
		margin-left: 10px;
	}
}

@media(max-width: 375px) {
	.inner-banner {
		padding-top: 120px;
		padding-bottom: 80px;
	}

	.inner-banner__title {
		font-size: 40px;
	}
	.slider-one__title {
		font-size: 35px;
		line-height: 40px;
	}
	.block-title h3 br {
		display: none;
	}
	.block-title h3 {
		font-size: 35px;
	}
	.event-one__content {
		padding-left: 20px;
		padding-right: 20px;
	}
	.map-one__map .wrapper-box {
		height: 200px;
	}
	.cta-one__btn-two {
		padding-left: 15px;
		padding-right: 15px;
	}
	.brand-one .item {
		text-align: center;
	}
	.slider-two h3 {
		font-size: 40px;
		line-height: 1.2em;
	}
	.slider-two__btn {
		margin-left: 0;
		margin-top: 15px;
	}
	.countdown-one__list li{
		-webkit-box-flex: 1;
		        flex: 1 1 100%;
		max-width: 100%;
		border-left: 0;
		border-bottom: 0;
	}

	.countdown-one__list li+li {
		padding-left: 0;
		margin-left: 0;
		border-top: 1px solid rgba(221, 221, 221, 0.2);
		border-left: 0px solid rgba(221, 221, 221, 0.2);
	}
	.countdown-one__list li:nth-child(1),
	.countdown-one__list li:nth-child(3) {
		border-left: 0;
	}
	.countdown-one__list li:nth-child(4) {
		border-top: 1px solid rgba(221, 221, 221, 0.2);
	}
	.countdown-one__list li:nth-child(4),
	.countdown-one__list li:nth-child(3) {
		border-bottom: 0;
	}
	.donation-one__list li, .service-three__column {
		-webkit-box-flex: 1;
		        flex: 1 1 100%;
		max-width: 100%;
	}
	.slider-two {
		padding-top: 150px;
		padding-bottom: 130px;
	}
	.event-five__meta {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.event-five__meta li + li {
		margin-left: 0;
		margin-top: 10px;
	}
}