/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# common
# header
# inner-banner
# slider
# brand
# mailchimp
# blog
	## Blog Comment
# cta
# faq
# map
# progress
# volunteer
# event
# team
# service
# about
# footer
# contact
# twitter
# countdown
# donation
# media
# search-popup
# side-menu
# History
# Sidebar 
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# search-popup
--------------------------------------------------------------*/
.search-popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	-webkit-transform: scale(1, 0);
	transform: scale(1, 0);
	-webkit-transform-origin: bottom center;
	transform-origin: bottom center;
	-webkit-transition: -webkit-transform .7s ease;
	transition: -webkit-transform .7s ease;
	transition: transform .7s ease;
	transition: transform .7s ease, -webkit-transform .7s ease;
}

.search-popup.active {
	-webkit-transform-origin: top center;
	transform-origin: top center;
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
}

.search-popup__overlay {
	width: 100%;
	height: 100%;
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	opacity: .7;
	cursor: none;
}

.search-popup__inner {
	position: absolute;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
}

.search-popup__form {
	position: relative;
	z-index: 9991;
	width: 100%;
	padding: 15px;
	max-width: 600px;
	position: relative;
}

.search-popup__form input {
	background-color: transparent;
	border: none;
	outline: none;
	width: 100%;
	height: 60px;
	color: #222222;
	font-size: 18px;
	background-color: white;
	padding-left: 30px;
}

.search-popup__form input::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #222222;
}

.search-popup__form input::-moz-placeholder {
	/* Firefox 19+ */
	color: #222222;
}

.search-popup__form input:-ms-input-placeholder {
	/* IE 10+ */
	color: #222222;
}

.search-popup__form input:-moz-placeholder {
	/* Firefox 18- */
	color: #222222;
}

.search-popup__form button[type=submit] {
	border: none;
	outline: none;
	width: 60px;
	height: 60px;
	color: #fff;
	background-color: var(--thm-base);
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 15px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.search-popup__form button[type=submit]:hover {
	background-color: #222222;
	color: var(--thm-base);
}



/*--------------------------------------------------------------
# common
--------------------------------------------------------------*/

/* Template Variables */

:root {
	--thm-base: #cd2828;
	--thm-primary: #114f9a;
	--thm-black: #302e2f;
}

body {
	font-family: "Arimo";
	font-size: 16px;
	line-height: 26px;
	color: #666666;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Arimo";
}

a,
a:hover,
a:active,
a:focus {
	text-decoration: none;
}

.page-wrapper {
	position: relative;
	margin: 0 auto;
	width: 100%;
	min-width: 300px;
	overflow: hidden;
}

@media (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

.color-thm-base {
	color: var(--thm-base);
}

.color-thm-black {
	color: var(--thm-black);
}

.block-title {
	margin-bottom: 40px;
}

.block-title__icon {
	color: var(--thm-base);
	font-size: 15px;
	display: block;
	margin-bottom: 20px;
}

.block-title p {
	margin: 0;
	font-size: 16px;
	color: #222222;
}

.block-title h3 {
	margin: 0;
	font-size: 50px;
	color: #222222;
	font-weight: bold;
}

.thm-btn {
	border: none;
	outline: none !important;
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	color: #fff;
	background-color: #cd2828;
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	padding: 12.5px 32.85px;
	font-weight: bold;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.thm-btn:hover {
	background-color: #222222;
	color: #fff;
}

.thm-btn i {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	margin-left: 5px;
}

/* Cursor*/
.cursor {
	position: absolute;
	background-color: #fff;
	width: 6px;
	height: 6px;
	border-radius: 100%;
	z-index: 1;
	-webkit-transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
	transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
	transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
	transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 10000;
	-webkit-transform: scale(1);
	transform: scale(1);
	visibility: hidden;
}

.cursor {
	visibility: visible;
}

.cursor.active {
	opacity: 0.5;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.cursor.hovered {
	opacity: 0.08;
}

.cursor-follower {
	position: absolute;
	background-color: RGBA(255, 255, 255, 0.3);
	width: 50px;
	height: 50px;
	border-radius: 100%;
	z-index: 1;
	-webkit-transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
	transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
	transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
	transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 10000;
	visibility: hidden;
}

.cursor-follower {
	visibility: visible;
}

.cursor-follower.active {
	opacity: 0.7;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.cursor-follower.hovered {
	opacity: 0.08;
}

.cursor-follower.close-cursor:before {
	position: absolute;
	content: '';
	height: 25px;
	width: 2px;
	background: #fff;
	left: 48%;
	top: 12px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	display: inline-block;
}

.cursor-follower.close-cursor:after {
	position: absolute;
	content: '';
	height: 25px;
	width: 2px;
	background: #fff;
	right: 48%;
	top: 12px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* bootstrap select */
.bootstrap-select .btn-light:not(:disabled):not(.disabled).active,
.bootstrap-select .btn-light:not(:disabled):not(.disabled):active,
.bootstrap-select .show>.btn-light.dropdown-toggle {
	background-color: inherit !important;
	box-shadow: none !important;
	outline: none !important;
}

.bootstrap-select>.dropdown-toggle {
	box-shadow: none !important;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
	outline: none !important;
}

.bootstrap-select .dropdown-menu {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	z-index: 991;
}

.bootstrap-select .dropdown-menu>li+li>a {
	border-top: 1px solid #f4f4f4;
}

.bootstrap-select .dropdown-menu>li:first-child>a {
	padding-top: 10px;
}

.bootstrap-select .dropdown-menu>li:last-child>a {
	padding-bottom: 10px;
}

.bootstrap-select .dropdown-menu>li.selected>a {
	background: var(--thm-base);
	color: #fff;
}

.bootstrap-select .dropdown-menu>li>a {
	font-size: 16px;
	font-weight: 500;
	padding: 9px 20px;
	color: #222222;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.bootstrap-select .dropdown-menu>li>a:hover {
	background: var(--thm-base);
	color: #fff;
	cursor: pointer;
}

/* preloader */
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: #fff;
	background-position: center center;
	background-repeat: no-repeat;
}

.scroll-to-top {
	display: inline-block;
	width: 50px;
	height: 50px;
	background: #292728;
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 990;
	text-align: center;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	display: none;
	border: 1px solid #393838;
}

@media (max-width: 480px) {
	.scroll-to-top {
		width: 40px;
		height: 40px;
	}
}

.scroll-to-top i {
	font-size: 14px;
	line-height: 50px;
	color: #fff;
	position: relative;
	z-index: 10;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

@media (max-width: 480px) {
	.scroll-to-top i {
		font-size: 14px;
		line-height: 40px;
	}
}

.scroll-to-top:hover {
	background: var(--thm-base);
	border-color: var(--thm-base);
}

.scroll-to-top:hover i {
	color: #fff;
}

.post-pagination {
	text-align: center;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
}

.post-pagination__two a {
	font-family: "Arimo";
	font-size: 16px;
}

.post-pagination a {
	color: #222222;
	font-size: 16px;
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;
	border-radius: 2px;
	padding-left: 18.5px;
	padding-right: 18.5px;
	padding-top: 8px;
	padding-bottom: 8px;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.post-pagination a.active,
.post-pagination a:hover {
	color: #fff;
	background-color: #e23e4e;
	border-color: #e23e4e;
}

.post-pagination a+a {
	margin-left: 10px;
}

.post-pagination a.active {
	cursor: auto;
}

.post-pagination__prev,
.post-pagination__next {
	border: none !important;
	background-color: transparent !important;
	text-decoration: underline;
	color: #222222 !important;
	text-transform: uppercase;
	font-size: 14px !important;
}

/* datepicker */
.datepicker-dropdown {
	min-width: 300px;
}

.datepicker-dropdown table {
	width: 100%;
}

.datepicker table tr td span.active.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active:hover:active {
	background-color: var(--thm-base);
	background-image: none;
}

.datepicker table tr td.active.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover {
	background-color: var(--thm-base);
	background-image: none;
}

.google-map__contact {
	width: 100%;
	border: none;
	height: 500px;
	display: block;
}

/*--------------------------------------------------------------
# header
--------------------------------------------------------------*/
.header-navigation {
	background-color: transparent;
	margin-bottom: 0;
	border: none;
	border-radius: 0;
	padding: 0;
	position: relative;
}

.header-navigation .container {
	background: transparent;
	position: relative;
	display: block;
}

.header-navigation .container .logo-box {
	float: left;
	position: absolute;
	top: 50%;
	left: 15px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.header-navigation .container .navbar-brand {
	height: auto;
	margin: 0;
}

.header-navigation .container .menu-toggler {
	display: none;
}

.header-navigation .container .right-side-box {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 15px;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.header-navigation .main-navigation {
	float: right;
	text-align: right;
	-webkit-box-align: center;
	align-items: center;
}

@media (min-width: 1200px) {
	.header-navigation .main-navigation {
		display: -webkit-box !important;
		display: flex !important;
	}
}

.header-navigation ul.navigation-box {
	margin: 0;
	padding: 0;
	list-style: none;
}

.header-navigation ul.navigation-box .dropdown-btn {
	display: none;
}

.header-navigation ul.navigation-box li a .sub-nav-toggler {
	display: none;
}

.header-navigation ul.navigation-box>li {
	position: relative;
	padding: 25px 0;
	display: inline-block;
	vertical-align: middle;
	/* Second Level Menu */
	/* Thrid Level Menu */
}

.header-navigation ul.navigation-box>li+li {
	margin-left: 40px;
}

.header-navigation ul.navigation-box>li:first-child {
	padding-left: 0;
}

.header-navigation ul.navigation-box>li:last-child {
	padding-right: 0;
}

.header-navigation ul.navigation-box>li>a {
	font-size: 16px;
	color: #ffffff;
	padding: 0;
	font-weight: bold;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	position: relative;
	display: block;
}
.header-navigation ul.navigation-box>li>a::before {
	content: '';
	width: 100%;
	height: 1px;
	background-color: #fff;
	position: absolute;
	bottom: -2px;
	left: 0;
	transform: scale(0, 1);
	transform-origin: left center;
	transition: transform 500ms ease;
}

.header-navigation ul.navigation-box>li.current>a::before,
.header-navigation ul.navigation-box>li:hover>a::before {
	transform: scale(1, 1);
	transform-origin: right center;
}

.header-navigation ul.navigation-box>li>ul {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 99;
	float: left;
	min-width: 200px;
	padding: 0px 0px;
	text-align: left;
	list-style: none;
	background-clip: padding-box;
	opacity: 0;
	border-radius: 0px;
	visibility: hidden;
	-webkit-transform: translateX(20px);
	transform: translateX(20px);
	border-top: 4px solid var(--thm-primary);
	-webkit-transition: opacity .4s ease, visibility .4s ease, -webkit-transform .4s linear;
	transition: opacity .4s ease, visibility .4s ease, -webkit-transform .4s linear;
	transition: opacity .4s ease, visibility .4s ease, transform .4s linear;
	transition: opacity .4s ease, visibility .4s ease, transform .4s linear, -webkit-transform .4s linear;
}

@media (min-width: 1200px) {
	.header-navigation ul.navigation-box>li>ul {
		display: block !important;
	}
}

.header-navigation ul.navigation-box>li>ul.right-align {
	left: auto;
	right: 0;
	-webkit-transform: translateX(-20px);
	transform: translateX(-20px);
}

.header-navigation ul.navigation-box>li>ul.center-align {
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.header-navigation ul.navigation-box>li>ul>li {
	display: block;
	position: relative;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	background-color: #fff;
}

.header-navigation ul.navigation-box>li>ul>li+li {
	border-top: 1px solid #e4e4e4;
}

.header-navigation ul.navigation-box>li>ul>li>a {
	font-size: 16px;
	color: var(--thm-black);
	font-weight: 400;
	padding: 12px 20px;
	display: block;
	line-height: 26px;
	white-space: nowrap;
	position: relative;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.header-navigation ul.navigation-box>li>ul>li:hover>a {
	color: #fff;
	background: var(--thm-base);
}


.header-navigation ul.navigation-box>li>ul>li:hover>a:after {
	color: #fff;
}

.header-navigation ul.navigation-box>li>ul>li>a {
	position: relative;
}

.header-navigation ul.navigation-box>li>ul>li>a:after {
	content: "\f105";
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	position: absolute;
	right: 20px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	color: var(--thm-black);
	font-size: 14px;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.header-navigation ul.navigation-box>li>ul>li>a:only-child:after {
	content: '';
	display: none;
}

.header-navigation ul.navigation-box>li:hover:before {
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
}

.header-navigation ul.navigation-box>li:hover>ul {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}

.header-navigation ul.navigation-box>li>ul>li>ul {
	position: absolute;
	top: 0%;
	left: 100%;
	z-index: 99;
	float: left;
	min-width: 200px;
	padding: 0px 0px;
	text-align: left;
	list-style: none;
	background-clip: padding-box;
	opacity: 0;
	border-radius: 0px;
	visibility: hidden;
	-webkit-transform: translateX(20px);
	transform: translateX(20px);
	border-top: 4px solid var(--thm-base);
	-webkit-transition: opacity .4s ease, visibility .4s ease, -webkit-transform .4s linear;
	transition: opacity .4s ease, visibility .4s ease, -webkit-transform .4s linear;
	transition: opacity .4s ease, visibility .4s ease, transform .4s linear;
	transition: opacity .4s ease, visibility .4s ease, transform .4s linear, -webkit-transform .4s linear;
}

@media (min-width: 1200px) {
	.header-navigation ul.navigation-box>li>ul>li>ul {
		display: block !important;
	}
}

.header-navigation ul.navigation-box>li>ul>li>ul.right-align {
	left: auto;
	right: 100%;
	-webkit-transform: translateX(-20px);
	transform: translateX(-20px);
}

.header-navigation ul.navigation-box>li>ul>li>ul.center-align {
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.header-navigation ul.navigation-box>li>ul>li>ul>li {
	display: block;
	position: relative;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	background-color: #fff;
}

.header-navigation ul.navigation-box>li>ul>li>ul>li+li {
	border-top: 1px solid #e4e4e4;
}

.header-navigation ul.navigation-box>li>ul>li>ul>li>a {
	font-size: 16px;
	color: var(--thm-black);
	font-weight: 400;
	padding: 12px 20px;
	display: block;
	line-height: 26px;
	white-space: nowrap;
	position: relative;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.header-navigation ul.navigation-box>li>ul>li>ul>li:hover>a {
	color: #fff;
	background: var(--thm-primary);
}

.header-navigation ul.navigation-box>li>ul>li>ul {
	padding-left: 0px;
	min-width: 210px;
}

.header-navigation ul.navigation-box>li>ul>li>ul.right-align {
	padding-left: 0px;
	padding-right: 10px;
}

.header-navigation ul.navigation-box>li>ul>li:hover>ul {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}

.header-navigation ul.navigation-box>li>ul>li ul {
	/* no more nested showen */
	display: none;
}

.stricked-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	background-color: var(--thm-black);
	box-shadow: 0px 6px 13px 0px RGBA(0, 0, 0, 0.06);
	opacity: 0;
	-webkit-transform: translateY(-110%);
	transform: translateY(-110%);
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.stricked-menu.stricky-fixed {
	opacity: 1;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}

.stricked-menu ul.navigation-box>li {
	padding-top: 25px;
	padding-bottom: 25px;
}

@media (min-width: 1200px) {

	.topbar-one .container,
	.site-header__header-one .container {
		width: 100%;
		max-width: 1400px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (max-width: 1439px) {

	.topbar-one .container,
	.site-header__header-one .container {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (max-width: 1199px) {

	.topbar-one .container,
	.site-header__header-one .container {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.topbar-one {
	background-color: #fff;
	padding: 17px 0;
}

.topbar-one .container {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

@media (max-width: 1199px) {
	.topbar-one .container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		-webkit-box-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		align-items: center;
		text-align: center;
	}
}

.topbar-one__right,
.topbar-one__left {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.topbar-one__left p {
	margin: 0;
	font-size: 14px;
	color: #222222;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.topbar-one__left p i {
	font-size: 12px;
	margin-right: 5px;
}

.topbar-one__left p span {
	font-weight: bold;
	margin-right: 10px;
}

.topbar-one__right a {
	color: #222222;
	font-size: 14px;
	line-height: 1em;
	border-bottom: 1px solid #222222;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.topbar-one__right a+a {
	margin-left: 20px;
}

.topbar-one__right a:hover {
	color: var(--thm-base);
	border-color: var(--thm-base);
}

.topbar-one__social {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	margin-left: 40px;
}

.topbar-one__social a {
	font-size: 15px;
	color: #666666;
	border: none;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.topbar-one__social a+a {
	margin-left: 20px;
}

.topbar-one__social a:hover {
	color: var(--thm-primary);
}


@media (min-width: 1200px) {
	.site-header__header-one .container .logo-box {
		left: 20px;
	}
}

@media (max-width: 1439px) {
	.site-header__header-one .container .logo-box {
		left: 20px;
	}
}

@media (max-width: 1199px) {
	.site-header__header-one .container .logo-box {
		left: 15px;
	}
}

@media (min-width: 1200px) {
	.site-header__header-one .container .right-side-box {
		right: 70px;
	}
}

@media (max-width: 1439px) {
	.site-header__header-one .container .right-side-box {
		right: 20px;
	}
}

@media (max-width: 1199px) {
	.site-header__header-one .container .right-side-box {
		right: 15px;
	}
}

@media (min-width: 1200px) {
	.site-header__header-one .main-navigation {
		text-align: center;
		width: 100%;
		padding-right: 0px;
		float: none;
		-webkit-box-pack: center;
		justify-content: center;
	}
}

.header__search a::before {
	display: none;
}

.header-donation__btn:hover {
	background-color: #fff;
	color: #222222;
}

.site-header__header-one-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
}

.site-header__header-two {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	padding-top: 25px;
}

@media (min-width: 1200px) {
	.site-header__header-two .main-navigation {
		text-align: center;
		width: 100%;
		padding-right: 0px;
		float: none;
		-webkit-box-pack: center;
		justify-content: center;
	}
}

.site-header__header-two+.slider-one {
	margin-top: 0;
}


.site-header__header-two .header-navigation ul.navigation-box>li+li {
	margin-left: 25px;
}

.site-header__header-two .main-navigation {
	justify-content: flex-end;
	padding-right: 220px;
}

.site-header__header-three {
	padding-top: 10px;
}


/*--------------------------------------------------------------
# inner-banner
--------------------------------------------------------------*/
.inner-banner {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 140px;
	padding-top: 140px;
	height: 400px;
}

.inner-banner:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background-image: url(../images/shapes/slider-1-1-curv.svg);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: 100% auto;
}

@media (min-width: 1920px) {
	.inner-banner:before {
		left: 50%;
		width: 110%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
}

.inner-banner .container {
	position: relative;
	z-index: 10;
}

.inner-banner__icon {
	color: #fff;
	font-size: 15px;
}

.inner-banner__title {
	margin: 0;
	color: #fff;
	font-size: 60px;
	line-height: 1.2em;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 25px;
}

.inner-banner p{
	color: whitesmoke;
	font-size: 20px;
	margin-bottom: 20px;
}

.thm-breadcrumb {
	margin: 0;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}

.thm-breadcrumb li {
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.thm-breadcrumb li+li:before {
	content: '\f30b';
	font-family: "Font Awesome 5 Free";
	color: var(--thm-base);
	font-size: 16px;
	margin-left: 15px;
	margin-right: 15px;
}

.thm-breadcrumb li a {
	color: inherit;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.thm-breadcrumb li a:hover {
	color: var(--thm-base);
}

/*--------------------------------------------------------------
# slider
--------------------------------------------------------------*/
.slider-one {
	position: relative;
	margin-top: 60px;
}

.slider-one:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 83px;
	z-index: 10;
	background-image: url(../images/shapes/slider-1-1-curv.svg);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: 100% auto;
}

@media (min-width: 1920px) {
	.slider-one:before {
		left: 50%;
		width: 110%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
}

.slider-one .item {
	overflow: hidden;
}

.slider-one__icon {
	color: #fff;
	font-size: 15px;
	display: block;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
}

.slider-one__title {
	margin: 0;
	font-size: 68px;
	line-height: 70px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 15px;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
}

.slider-one__tag-line {
	margin: 0;
	margin-top: 25px;
	margin-bottom: 15px;
	color: #fff;
	text-transform: uppercase;
	font-size: 24px;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	position: relative;
}

.slider-one__btn-block {
	margin-top: 40px;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
}

.slider-one__btn {
	padding: 14px 14px;
	background-color: var(--thm-primary);
}
.slider-one__btn_1 {
	padding: 14px 14px;
	color: white;
	background-color: red;
}
.slider-one__btn1 {
	padding: 8px 20.5px;
	background-color: rgb(58, 131, 160);
}

.slider-one__btn-two {
	padding: 13px 35.85px;
	border: 2px solid #fff;
	background-color: transparent;
	margin-left: 11px;
}

.slider-one .thm-btn:hover {
	background-color: #fff;
	color: #222222;
}

.slider-one .active .slider-one__icon {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-delay: .5s;
	animation-delay: .5s;
}

.slider-one .active .slider-one__tag-line {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

.slider-one .active .slider-one__title {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

.slider-one .active .slider-one__btn-block {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}

.slider-one .owl-theme .owl-nav.disabled+.owl-dots {
	margin: 0;
}

.slider-one .owl-theme .owl-dots {
	position: absolute;
	bottom: -15px;
	right: 70px;
	width: 100%;
	text-align: right;
}

.slider-one .owl-theme .owl-dots .owl-dot {
	outline: none;
	margin: 0 7.5px;
	padding: 0;
	background-color: #fff;
	position: relative;
}

.slider-one .owl-theme .owl-dots .owl-dot:before {
	content: '';
	width: 100%;
	background-color: #e23e4e;
	height: 3px;
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0;
	z-index: 10;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.slider-one .owl-theme .owl-dots .owl-dot span {
	padding: 0px;
	margin: 0;
	border-radius: 0px;
	background-color: transparent;
	width: 150px;
	height: 90px;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.slider-one .owl-theme .owl-dots .owl-dot:hover:before,
.slider-one .owl-theme .owl-dots .owl-dot.active:before {
	opacity: 1;
}

.slider-one .owl-theme .owl-dots .owl-dot:hover span,
.slider-one .owl-theme .owl-dots .owl-dot.active span {
	opacity: .3;
}

.slider-one__nav-left,
.slider-one__nav-right {
	color: #fff;
	position: absolute;
	top: 45%;
	-webkit-transform: translateY(calc(-50% + 90px));
	transform: translateY(calc(-50% + 90px));
	z-index: 10;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	width: 60px;
	height: 60px;
	background-color: #fff;
	color: #222222;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	text-align: center;
}

.slider-one__nav-left i,
.slider-one__nav-right i {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	font-size: 17px;
}

.slider-one__nav-left:hover,
.slider-one__nav-right:hover {
	background-color: #222222;
	color: #fff;
}

.slider-one__nav-left {
	left: 2%;
}

.slider-one__nav-right {
	right: 2%;
}

.slider-one__nav-right i {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	flex-direction: row-reverse;
}

.slider-one__nav-right i:after {
	right: -5px;
}

[class*=slider-one__slider-],
[class*=slider-two__slider-] {
	background-color: #222222;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

[class*=slider-one__slider-] {
	padding-top: 230px;
	padding-bottom: 173px;
}

@media (max-width: 575px) {
	[class*=slider-one__slider-] {
		padding-top: 150px;
		padding-bottom: 150px;
	}
}

.slider-two {
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 260px;
	padding-bottom: 248px;
}

.slider-two:before{
	position: absolute;
	content: '';
	background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.6) 50%);
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
}

.slider-two__content{
	position: relative;
	max-width: 870px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.slider-two__content p {
	position: relative;
	display: block;
	color: #fff;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 17px;
}

.slider-two p i {
	font-size: 15px;
	line-height: 1em;
	margin-right: 10px;
}

.slider-two h3 {
	position: relative;
	display: block;
	margin: 0;
	font-size: 74px;
	line-height: 84px;
	color: #fff;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 44px;
}

.slider-two__form {
	position: relative;
	display: block;
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
	background: rgba(0,0,0,0.55);
	padding: 10px;
	border-radius: 5px;
}

.slider-two__form .form-group{
	position: relative;
	margin: 0px;
}

.slider-two__form .form-group i{
	position: absolute;
	left: 20px;
	top: 21px;
	font-size: 20px;
	color: #cccccc;
	z-index: 1;
}

.slider-two__form input:not([type=submit]):not([type=checkbox]) {
	position: relative;
	display: block;
	border: none;
	outline: none;
	width: 100%;
	max-width: 400px;
	background-color: #fff;
	border-radius: 3px;
	color: #777777;
	border: 1px solid #fff;
	font-size: 16px;
	height: 65px;
	padding: 15px 15px 15px 55px;
	transition: all 500ms ease;
}

.slider-two__form input:focus{
	border-color: #cd2828 !important;
}

.slider-two__form input:not([type=submit]):not([type=checkbox])::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #777777;
}

.slider-two__form input:not([type=submit]):not([type=checkbox])::-moz-placeholder {
	/* Firefox 19+ */
	color: #777777;
}

.slider-two__form input:not([type=submit]):not([type=checkbox]):-ms-input-placeholder {
	/* IE 10+ */
	color: #777777;
}

.slider-two__form input:not([type=submit]):not([type=checkbox]):-moz-placeholder {
	/* Firefox 18- */
	color: #777777;
}

.slider-two__btn {
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 19.5px 37.85px;
}

.slider-two__btn:hover {
	color: #222222;
	background-color: #fff;
}

.slider-two .mc-form__response p {
	display: inherit;
}


/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/
.site-footer__wrapper {
	background-color: #061a33;
	position: relative;
}

.site-footer__wrapper:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 83px;
	z-index: 10;
	background-image: url(../images/shapes/footer-curv-1-1.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100% auto;
}

@media (min-width: 1920px) {
	.site-footer__wrapper:before {
		left: 50%;
		width: 110%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
}

.site-footer__style-two:before {
	display: none;
}

.site-footer__upper {
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	padding-top: 230px;
	padding-bottom: 20px;
}

.site-footer__upper .container {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.site-footer__style-two .site-footer__upper {
	padding-top: 60px;
}

.site-footer__logo {
	margin-bottom: 30px;
	margin-top: 50px;
}

.site-footer__counter {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.site-footer__counter-single {
	margin-top: 50px;
	margin-bottom: 30px;
}

.site-footer__counter-single h3 {
	margin: 0;
	line-height: 1em;
	color: #fff;
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 5px;
}

.site-footer__counter-single p {
	margin: 0;
	color: #fff;
	font-size: 16px;
}

.site-footer__counter-single+.site-footer__counter-single {
	margin-left: 70px;
}

.site-footer__bottom {
	padding-top: 30px;
	padding-bottom: 50px;
}

.site-footer__bottom p {
	color: rgba(255, 255, 255, 0.5);
	font-size: 16px;
	margin: 0;
}

.site-footer__bottom p a {
	color: var(--thm-base);
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.site-footer__bottom p a:hover {
	color: #fff;
}

.site-footer {
	padding-top: 60px;
}

.footer-widget__title {
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	margin: 0;
	margin-bottom: 30px;
	line-height: 1em;
}

.footer-widget {
	margin-bottom: 30px;
}

.footer-widget .list-unstyled {
	margin-bottom: 0;
}

.footer-widget p {
	margin: 0;
	font-size: 16px;
	line-height: 28px;
	color: #fff;
}

@media (min-width: 992px) {

	.footer-widget__contact-widget,
	.footer-widget__links-widget {
		padding-left: 65px;
	}
}

.footer-widget__links {
	margin-top: -15px;
}

.footer-widget__links li {
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.footer-widget__links li a {
	display: block;
	color: #fff;
	line-height: 40px;
	font-size: 16px;
	padding-left: 0;
	position: relative;
	-webkit-transition: all 700ms ease;
	transition: all 700ms ease;
}

.footer-widget__links li a:before {
	content: '\f101';
	font-family: "Font Awesome 5 Free";
	font-style: normal;
	font-weight: 900;
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	color: var(--thm-primary);
	opacity: 0;
	-webkit-transition: all 700ms ease;
	transition: all 700ms ease;
}

.footer-widget__links li a:hover {
	padding-left: 25px;
	color: var(--thm-base);
}

.footer-widget__links li a:hover:before {
	opacity: 1;
}

.footer-widget__contact-info li {
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	position: relative;
	padding-left: 30px;
}

.footer-widget__contact-info li+li {
	margin-top: 10px;
}

.footer-widget__contact-info li a {
	color: inherit;
	-webkit-transition: all 700ms ease;
	transition: all 700ms ease;
}

.footer-widget__contact-info li a:hover {
	color: var(--thm-primary);
}

.footer-widget__contact-info li i {
	font-size: 18px;
	color: var(--thm-base);
	position: absolute;
	top: 5px;
	left: 0;
}

.footer-widget__contact-info li i.fa-phone-alt {
	font-size: 16px;
}

.footer-widget__social {
	margin-top: 20px;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.footer-widget__social a {
	color: rgba(255, 255, 255, 0.3);
	font-size: 16px;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.footer-widget__social a:hover {
	color: #fff;
}

.footer-widget__social a+a {
	margin-left: 18px;
}



/*--------------------------------------------------------------
# side-menu
--------------------------------------------------------------*/
.side-menu__block {
	position: fixed;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	-webkit-transform: scale(0, 1);
	transform: scale(0, 1);
	-webkit-transform-origin: left center;
	transform-origin: right center;
	-webkit-transition: -webkit-transform .7s ease;
	transition: -webkit-transform .7s ease;
	transition: transform .7s ease;
	transition: transform .7s ease, -webkit-transform .7s ease;
}

@media (max-width: 1199px) {
	.side-menu__block.active {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}

.side-menu__block-overlay {
	width: 100%;
	height: 100%;
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	opacity: .7;
}

.side-menu__block-inner {
	position: relative;
	width: 300px;
	margin-left: auto;
	height: 100vh;
	background-color: #222222;
	z-index: 999999;
	overflow-y: auto;
	padding: 40px 0;
	padding-top: 60px;
	position: relative;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	align-content: space-between;
}

.side-menu__block-inner .mCustomScrollBox {
	width: 100%;
}

.side-menu__close-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 9999999;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
	display: block;
	color: #fff;
	font-size: 20px;
}

.side-menu__close-btn:focus,
.side-menu__close-btn:active,
.side-menu__close-btn:hover {
	opacity: 1;
	color: var(--thm-base);
}

.mobile-nav__container {
	margin: 40px 0;
	border-top: 1px solid rgba(255, 255, 255, 0.15);
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.mobile-nav__container ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.mobile-nav__container li.dropdown ul {
	display: none;
}

.mobile-nav__container li.dropdown {
	position: relative;
}

.mobile-nav__container li.dropdown .dropdown-btn {
	border: none;
	outline: none;
	width: 35px;
	height: 35px;
	background-color: #000000;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	text-align: center;
	font-size: 20px;
	color: #fff;
	position: absolute;
	top: 6px;
	right: 5px;
	-webkit-transform: rotate(0);
	transform: rotate(0);
	-webkit-transition: transfrom 500ms ease, color 500ms ease, background-color 500ms ease;
	transition: transfrom 500ms ease, color 500ms ease, background-color 500ms ease;
}

.mobile-nav__container li.dropdown .dropdown-btn.open {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	background: #ffffff;
	color: #222222;
}

.mobile-nav__container li+li {
	border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.mobile-nav__container li a {
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	display: block;
	font-family: "Arimo";
	padding: 10px 0;
	padding-left: 30px;
	padding-right: 30px;
	border-left: 3px solid transparent;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
	position: relative;
}

.mobile-nav__container li a:hover {
	background-color: var(--thm-base);
	color: #ffffff;
}

.mobile-nav__container li.current-menu-item>a,
.mobile-nav__container li.current>a {
	border-color: #ffffff;
}

.mobile-nav__container .navigation-box__right {
	border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.side-menu__logo {
	padding-left: 30px;
	display: block;
	text-align: center;
}

.side-menu__block__copy {
	color: #cccccc;
	font-family: "Arimo";
	font-size: 14px;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
}

.side-menu__block__copy a {
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.side-menu__block__copy a:hover {
	color: var(--thm-base);
}

.side-menu__social {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}

.side-menu__social a {
	color: #ffffff;
	font-size: 16px;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.side-menu__social a .fa {
	font-family: "Font Awesome 5 Brands";
}

.side-menu__social a:hover {
	color: var(--thm-base);
}

.side-menu__social a+a {
	margin-left: 19px;
}

/*--------------------------------------------------------------
# History
--------------------------------------------------------------*/

.history-one {
	padding-top: 120px;
	padding-bottom: 120px;
}

@media (min-width: 1200px) {
	.history-one .container {
		padding-left: 25px;
		padding-right: 25px;
	}
}

.history-one__single+.history-one__single {
	margin-top: 40px;
}

.history-one__main {
	position: relative;
	padding-top: 40px;
}

.history-one__main::before {
	content: '';
	width: 1px;
	height: calc(100% + 120px);
	background-color: #dddddd;
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.history-one__main::after {
	content: '';
	width: 7px;
	height: 7px;
	background-color: #dddddd;
	position: absolute;
	border-radius: 50%;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.history-one__single:nth-child(even) .row {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	flex-direction: row-reverse;
}

.history-one__image {
	position: relative;
	background-color: var(--thm-black);
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
	border-radius: 3px;
	margin-right: 45px;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: start;
	justify-content: flex-start;
}

.history-one__image:before{
	position: absolute;
	content: '';
	background: #dddddd;
	width: 50%;
	height: 1px;
	top: 50%;
	transform: translateY(-50%);
	right: -60px;
}

.history-one__single:nth-child(2) .history-one__image:before,
.history-one__single:last-child .history-one__image:before{
	right: inherit;
	left: -60px;
}

.history-one__image:after{
	position: absolute;
	content: '';
	background: #fff;
	width: 11px;
	height: 11px;
	top: 50%;
	transform: translateY(-50%);
	right: -66px;
	border-radius: 50%;
	box-shadow: 0 0 0 4px #d9e3ef;
}

.history-one__single:nth-child(2) .history-one__image:after,
.history-one__single:last-child .history-one__image:after{
	right: inherit;
	left: -66px;
}

.history-one__image>img {
	-webkit-transform: scale(1.0);
	transform: scale(1.0);
	opacity: 1;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.history-one__content {
	padding-right: 45px;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	align-items: center;
}

.history-one__date {
	color: #666666;
	font-size: 14px;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
	display: inline-block;
	background: #f4f4f4;
	padding: 4px 12px;
	-webkit-box-align: center;
	align-items: center;
	margin-bottom: 15px;
}

.history-one__date i {
	font-size: 16px;
	color: var(--thm-base);
	margin-right: 10px;
}

.history-one__content h3 {
	color: var(--thm-primary);
	font-size: 24px;
	font-weight: bold;
	margin: 0;
	margin-bottom: 15px;
}

.history-one__content h3 a {
	color: inherit;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.history-one__content h3 a:hover {
	color: var(--thm-base);
}

.history-one__content p {
	margin: 0;
	color: #666666;
	font-size: 16px;
	line-height: 28px;
}

.history-one__single:nth-child(even) .history-one__image {
	margin-right: 0;
	margin-left: 45px;
	-webkit-box-pack: end;
	justify-content: flex-end;
}

.history-one__single:nth-child(odd) .history-one__content {
	padding-right: 0;
	padding-left: 45px;
}

.history-one__more-btn {
	margin-top: 80px;
	position: relative;
}


/*-------------------------------------------------------------- 
 # Sidebar 
 --------------------------------------------------------------*/

.sidebar__single+.sidebar__single {
	margin-top: 60px;
}

.sidebar__title {
	margin: 0;
	font-size: 20px;
	font-weight: bold;
	color: var(--thm-black);
	line-height: 1em;
	position: relative;
	text-transform: uppercase;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

.sidebar__title:before {
	content: '';
	width: 40px;
	height: 2px;
	background-color: var(--thm-base);
	position: absolute;
	bottom: 0;
	left: 0;
}

.sidebar__search-form {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(221, 221, 221);
	border-radius: 3px;
	position: relative;
}

.sidebar__search-form input {
	width: 100%;
	height: 60px;
	font-size: 16px;
	color: #666666;
	padding-left: 35px;
	border: none;
	outline: none;
}

.sidebar__search-form ::-webkit-input-placeholder {
	opacity: 1;
	color: #666666;
}

.sidebar__search-form ::-moz-placeholder {
	opacity: 1;
	color: #666666;
}

.sidebar__search-form :-ms-input-placeholder {
	opacity: 1;
	color: #666666;
}

.sidebar__search-form ::-ms-input-placeholder {
	opacity: 1;
	color: #666666;
}

.sidebar__search-form ::placeholder {
	opacity: 1;
	color: #666666;
}

.sidebar__search-form button[type=submit] {
	position: absolute;
	top: 50%;
	right: 35px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	border: none;
	outline: none;
	color: var(--thm-base);
	background-color: transparent;
	width: auto;
	padding: 0;
}

.sidebar__cat-list {
	margin: 0;
	margin-top: -10px;
}

.sidebar__cat-list li+li {
	margin-top: 8px;
}

.sidebar__cat-list li a {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	font-size: 16px;
	color: var(--thm-black);
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 7px;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.sidebar__cat-list li a span {
	color: #666666;
}

.sidebar__cat-list li a:hover {
	color: var(--thm-base);
}

.sidebar__event-list {
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	margin-left: -6px;
	margin-right: -6px;
	margin-top: -12px;
}

.sidebar__event-list li {
	-webkit-box-flex: 1;
	flex: 1 1 33.333%;
	max-width: 33.333%;
	padding-left: 6px;
	padding-right: 6px;
	margin-top: 12px;
}

.sidebar__event-list li a {
	display: block;
	background-color: var(--thm-black);
}

.sidebar__event-list li a img {
	width: 100%;
	opacity: 1;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.sidebar__event-list li a:hover img {
	opacity: 0.5;
}

.sidebar__post-single {
	position: relative;
	padding-left: 95px;
}

.sidebar__post-single+.sidebar__post-single {
	border-top: 1px solid #eeeeee;
	margin-top: 30px;
	padding-top: 25px;
}

.sidebar__post-single+.sidebar__post-single img {
	top: 25px;
}

.sidebar__post-single img {
	position: absolute;
	border-radius: 3px;
	top: 0;
	left: 0;
}

.sidebar__post-single h3 {
	margin: 0;
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	color: var(--thm-black);
}

.sidebar__post-single h3 a {
	color: inherit;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.sidebar__post-single h3 a:hover {
	color: var(--thm-primary);
}

.sidebar__post-single span {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	font-size: 14px;
	color: #666666;
}

.sidebar__post-single span i {
	color: var(--thm-base);
	font-size: 14px;
	margin-right: 10px;
}

.sidebar__tags-list {
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	margin-left: -5px;
	margin-top: -10px;
}

.sidebar__tags-list a {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	background-color: #f4f4f4;
	align-items: center;
	font-size: 14px;
	text-transform: uppercase;
	color: #666666;
	padding: 7px 20px;
	margin-left: 5px;
	margin-top: 10px;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.sidebar__tags-list a:hover {
	background-color: var(--thm-primary);
	color: #fff;
}

.sidebar__offer {
	background-repeat: no-repeat;
	background-size: cover;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 134px;
	padding-bottom: 134px;
}

.sidebar__offer i {
	color: #fff;
	font-size: 15px;
}

.sidebar__offer p {
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	line-height: 1em;
	color: #fff;
	margin-top: 5px;
}

.sidebar__offer h3 {
	margin: 0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 36px;
	color: #fff;
	line-height: 1em;
	margin-top: 10px;
	margin-bottom: 5px;
}

.sidebar__offer span {
	font-size: 14px;
	color: #ffffff;
	display: block;
	line-height: 1em;
}


  /*----------------------------------------------*/
  .card {
	background-repeat: no-repeat;
	background-position: center 35%;
	background-size: 30px;
	background-color: #FFF;
	box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
	transition: box-shadow 0.3s ease-out, transform 0.3s ease-out, opacity 0.2s ease-out;
	transition-delay: 0.1s;
	overflow: hidden;
	position: relative;
	border-radius: 4px;
	margin-bottom: 30px;
	transform: translateZ(0);
  }
  .card .featured-image {
	height: 200px;
	width: 100%;
	left: 0px;
	top: 0px;
  }
  .card .featured-image img {
	height: 100%;
	width: 100%;
	object-position: center;
	object-fit: cover;
	border: 0;
  }
  .card .content {
	padding-bottom: 60px;
	background: #fff;
	padding: 20px;
	bottom: 0;
	width: 100%;
	text-align: center;
  }
  .card .meta {
	border-top: 1px solid rgba(0, 0, 0, 0.075);
	display: block;
	padding: 10px 15px;
  }
  .card .meta button{
	border: 1px solid rgb(20, 190, 220);
	color:rgb(7, 99, 228)
  }
  .card .meta button:hover{
	color: rgb(244, 243, 243);
	background:rgb(16, 189, 219)
  }
  .card:hover {
	opacity: 1 !important;
	box-shadow: rgba(45, 45, 45, 0.05) 0px 2px 2px, rgba(49, 49, 49, 0.05) 0px 4px 4px, rgba(42, 42, 42, 0.05) 0px 8px 8px, rgba(32, 32, 32, 0.05) 0px 16px 16px, rgba(49, 49, 49, 0.05) 0px 32px 32px, rgba(35, 35, 35, 0.05) 0px 64px 64px;
	transform: translate(0, -4px);
  }
  
  



 /*--------------------------------*/
 .docs-overview{
	margin-bottom: 50px;
	margin-top: 5rem;
 }
 .docs-overview .card{
	border-color:#e7e9ed;
	position:relative;
	height: 100%;
	box-shadow: 0px 10px 21.25px 3.75px rgba(0, 0, 0, 0.06);
  }
  
  .docs-overview .card:hover .card-icon-holder{
	color: red;
  }
  .docs-overview .card-icon-holder img{
	width:60px;
	height:50px;
	font-size:1.5rem;
	margin-left: 10px;
	margin-top: -10px;
  }
  .docs-overview .card-title-text a{
	display:inline-block;
	position:relative;
	font-weight: bold;
	padding: 0 1rem 0;
	top:0.3rem;
	font-size: 28px;
	color: black;
  }
  .docs-overview .card-title{
	border-bottom: 1px solid black;
  }
  
  .docs-overview .card-text{
	font-size: 16px;
	margin-top: 1.5rem;
  }
  
  .docs-overview .card-text li{
	margin-bottom: 10px;
  }

  .docs-overview .card-text a:hover{
	margin-bottom: 10px;
	color: red;
	font-weight: bold;
  }

  .docs-overview .card-text a{
	color: black;
	font-weight: normal;
	transition: font-weight .2s ease;
  }

/*------------------------------------*/
.docs-categories{
	margin-top: 50px;
	background-color: #f4f4f4;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
   }
   .card-holder {
	 margin: 2em 0;
	 padding-top: 45px;
   }
   .card-box {
	 font-weight: 800;
	 padding: 1em 1em;
	 border-radius: 0.25em;
	 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   }
   .card-design {
	 background: -webkit-linear-gradient(460deg, #114f9a 40%, #ffffff 40%);
	 background: -o-linear-gradient(460deg, #114f9a 40%, #ffffff 40%);
	 background: -moz-linear-gradient(460deg, #114f9a 40%, #ffffff 40%);
	 background: linear-gradient(460deg, #114f9a 40%, #ffffff 40%);
   }
   
   .docs-categories .categorylist{
	 background-color: #ffffff;
	 max-width: 600px;
	 margin: auto;
   }
   .docs-categories .category-title{
	margin-top: 0px;
   }
   .docs-categories .category-title h1{
	color: rgb(255, 255, 255);
	padding: 1.5em 0.5em;
	font-weight: bold;
	font-size: 3em;
   }
   .docs-categories .category-title span{
	color: white;
	padding: 15em 0.5em;
   }
   .docs-categories .title{
	 font-size: 1.3em;
	 color: #2C3E50;
	 text-decoration: underline;
	 font-weight: 600;
   }

   .docs-categories .card-details{
	color: rgb(37, 37, 37);
	font-weight: 10;
	border-bottom: 1px solid rgba(0,0,0,0.1);
   }
   .docs-categories .card-details a{
	color: black;
   }

   .docs-categories .card-details{
	 padding: 15px 25px 10px;
	 margin-top: 15px;
   }
   
   
   @media (max-width: 768px) {
	 .docs-categories{
	   width: 100%;
	 }
	 .docs-categories .title {
	   font-size: 1.2em; 
	 }
	   .docs-categories .card-details {
		 padding: 40px 40px 30px; 
	   }

	   .card-design {
		background: -webkit-linear-gradient(460deg, #114f9a 40%, #ffffff 40%);
		background: -o-linear-gradient(460deg, #114f9a 40%, #ffffff 40%);
		background: -moz-linear-gradient(460deg, #114f9a 40%, #ffffff 40%);
		background: linear-gradient(460deg, #114f9a 80%, #ffffff 40%);
	  } 
   }

   /*------------------------------------*/
   /* Loader Styles */
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  .loader-icon {
	background-position: center center;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
  }
  
  .loading-text {
	margin-top: 10px;
	font-size: 18px;
	color: #333; 
  }

/*----------------------------------------------*/
.search-results {
	margin-top: -20px;
	margin-bottom: 100px;
	position: relative;
	width: 100%;
	min-width: 300px;
}
/*----------------Google Translator-----------*/
.translator-container {
    font-family: verdana;
    font-size: 15px;
	border-radius: 72% 28% 100% 0% / 19% 84% 16% 81% ;
    position: fixed;
    bottom: 85px;
	left: 28px;
	padding: 20px 20px;
    text-decoration: none;
    z-index: 999;
    display: none;
	background-color: #000;
	opacity: .85;
}

.translator-button {
    background: black;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    position: fixed;
    bottom: 40px;
    left: 30px;
    z-index: 1000;
}

.language-text {
    color: white;
}